@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f7;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
}
@layer utilities {
  /* Classe para esconder a barra de rolagem */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari e Opera */
  }
}